{% if app.user and notifiche_chat_off is not defined %}
    <script>
        var socket = io.connect('http://localhost:8080');

        // on connection to server, ask for user's name with an anonymous callback
        socket.on('connect', function() {
            // call the server-side function 'adduser' and send one parameter (value of prompt)
            socket.emit('adduser', '{{ app.user.nickname }}', { {{ 'chat.messages.server'|trans({}, 'EphpNodeChat')|raw }} });
        });

        // listener, whenever the server emits 'updatechat', this updates the chat body
        socket.on('updatechat', function(username, data) {
            if(username !== 'Server') {
                $('#notifiche_chat').append('<li title="' + data + '"><a href="{{ path('chat_2', {'chiama': '__username__', 'risponde': app.user.nickname}) }}">__username__</b> vuole chattare con te!</a></li>'.replace(/__username__/g, username));
            }
        });
    </script>
    <div style="float:left;width:250px;padding:10px;overflow:scroll-y;">
        <ul id="notifiche_chat"></ul>
    </div
{% endif %}