{% if app.user %}
    <script type="text/html" id="notify_message" tag="username,number,fadeout_at">
        <span class="chat_notify_message fadeout" fade_at="[fadeout_at]">
            <b>[username]:</b>[message]<br>
        </span>
    </script>
{% endif %}