{% if app.user %}
    <script type="text/html" id="public_room_elem" tag="alias,id,room,user_id,private">
        <div>
            <a href="javascript:void(0)" onclick="switchRoom('[id]')">[alias]</a>
        </div>
    </script>
{% endif %}