{% set notifiche_chat_off = true %}
{% extends "::base.html.twig" %}
{#
<script> 
#}
{% block js_inline %}
    {% include "EphpNodeBundle:commons:script.js.twig" %}
{% endblock %}
{# 
</script> 
#}
{% block content %}
    <table>
        <tr>
            <td style="width:100px; border-right:1px solid black; height:300px; padding:10px; overflow:scroll-y;">
                <b>USERS</b>
                <div id="users"></div>
                <b>ROOMS</b>
                <div id="current_room"></div>
                <div id="rooms"></div>
            </td>
            <td style="height:250px; overflow:scroll-y; padding:10px;">
                <input type="button" id="data_prev" value="precedenti" />
                <div id="chat_messages"></div>
                <input id="data" style="width:200px;" />
                <input type="button" id="data_button" value="invia" />
                <div id="notice_messages"></div>
            </td>
        </tr>
    </table>
    {% include "EphpNodeBundle:commons:template.html.twig" %}
{% endblock %}